@import "ember-cli-bootstrap-4/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Prata');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

html{
    font-size: 70%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
 }

 
.top-bar-section ul{
    font-size: 30px;
}

/*Title page start*/
#homepage-main{
    text-align: center;
    font-size: 62.5%; 
    margin: 0;
    padding: 0;
    color: #054D66;

    
    
}

#outer-div{
    height: 100vh;
}

#homepage-submain{
    position: absolute;
    top:12.5vh;
    height: 80vh;
    font-size: 1.6rem;
    background-color: rgba(235,243,255,.85);
    padding: 2rem 0;  
    width: 100%;
    z-index: -1;
   
}

#qr-big{
    margin: 0;
    padding: 0;
    font-size: 3rem;
}
#welcome{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 4rem;
    
}

#explore{
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#our-mission{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;

}
#mission-text{
    font-size: 1.8rem;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: 300;
    margin-bottom: 2rem;

}


#home-img{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    background-size: cover;
    
}
.home-button {
    display: block;
    width: 18rem;
    margin: 2rem auto;
    font-size: 2rem;
    color: white;
    background-color: Transparent;
    border: 1px solid white;
    cursor: pointer;
    padding: 1rem 2rem;
   
}

#explore-tours{
    
    background-color: rgb(0,140,186);
}

#create-a-tour{
    background-color:  rgb(0,47,95);
    
}

#homepage-submain2{
    font-size: 1.6rem;
    color: var(--color-bluetext);
   
    background-color: rgb(235,243,255);
   
    
}
#homepage-submain3{
    background-color: rgb(235,243,255);
}


.how-it-works{
    margin-bottom: 2vh;
    font-size: 1.8rem;
    text-align: left;
    padding-left: 1.2rem;
    font-weight: 300;
    

}

#how-title{
   
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

#homepage-submain2 .glyphicon{
    margin: 0 .5rem;
}

#want-to-learn{
    font-weight: 700;
    margin-top: 4vh;
    font-size: 2.2rem;
}

#learn-more{
    background-color: rgb(0,140,186);
    margin-top: .2rem;
    
}
/*
#background-trail{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: url("https://cameltours.org/ct/u10/t1/n1/media/54cb60d56014f.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(200%);
    
   
}
*/

#camel-img{
    width: 40%;
}





/* naviagation bar end*/
@media only screen and (min-width: 768px){ /*768px is width of ipads*/
    html{
        font-size: 75%;
    }

    #mission-text{
        margin-left: 50rem;
        margin-right: 50rem;
    }

    .how-it-works{
        text-align: center;
    }
 
    #homepage-submain{
        font-size: 50%;
    }

    #qr-big{
        font-size: 4rem;
    }
    #welcome{
        font-size: 5.33rem;
        
    }

    #explore{
        font-size: 3.33rem;
    }

    #our-mission{
        font-size: 3.33rem;

    }
    #mission-text{
        font-size: 2.3rem;
        margin-left: 30vw;
        margin-right: 30vw;
       

    }

    #how-title{
        font-size: 3.3rem;
    }
}
